/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.button {
  background-color: #ba2323;
  padding: 3px;
  padding-top: 26px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  border: solid 1px #831212;
  background-image: linear-gradient(bottom, rgb(171,27,27) 0%, rgb(212,51,51) 100%);
  border-radius: 5px;
  width: 150px;
  height: 50px;
}

.button:active {
  padding-bottom:9px;
  padding-left:10px;
  padding-right:10px;
  padding-top:11px;
  top:1px;
  background-image: linear-gradient(bottom, rgb(171,27,27) 100%, rgb(212,51,51) 0%);

}

.button::before {
  background-color:#ccd0d5;
  content:"";
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  padding:8px;
  left:-8px;
  top:-8px;
  z-index:-1;
  border-radius: 5px;
  box-shadow: inset 0px 1px 1px #909193, 0px 1px 0px #fff;
 }

 .screen {
  width: 711px;
  height: 400px;
  background: url(/src/assets/img-landing/screen.png)
 }

 .piskel-clone {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   color: #fff;
 }

 .wrapper-screen {
   display: flex;
   align-items: center;
   height: 400px;
   justify-content: space-around;
 }

 body {
  background-color: #0f0a0a;
 }

 .wrapper-gif {
   display: flex;
   margin-top: 120px;
   justify-content: space-around;
 }
